<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Excel_Addins" Language="1033" Version="1.0.0.0" Manufacturer="Jana Excel-addin" UpgradeCode="b88b1df1-799c-4630-a153-5667e0e81988">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Excel_Addins" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Excel_Addins" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents">
			<Component Id="ProductComponent" Guid="*" Directory="INSTALLFOLDER">
				<File Id="MyFile" Source="$(var.utilities.TargetPath)" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
